	/*
	 *卡包页面
	 **/
	
	* {
		padding: 0;
		margin: 0;
	}
	/*搜索框*/
	
	/*.mui-title input {
		width: 80%;
		border-radius: 20px;
		height: 35px;
	}*/
	/*搜索按钮*/
	
	/*.sousuo {
		margin: 0 0 0 10px;
		font-size: 16px;
	}*/
	/*选择按钮的UI容器*/
	
	/*#uid {
		padding: 0;
		margin: 0;
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		list-style: none;
		background: #F7F7F7;
		/* box-shadow: 0 0 1px rgba(0,0,0,.85);*/
		/*box-shadow: 0 1px 2px #ccc;*/
	}
	/*按钮li*/

	/*#uid li {
		-webkit-box-pack: center;
		-webkit-box-align: center;
		display: -webkit-box;
		height: 40px;
		width: 50%;
		font-size: 20px;
	}*/
	/*li选择后的样式*/
	
	/*.hevr {
		color: red;
		border-bottom: 1px solid red;
	}*/
	/*去掉header标签的阴影效果*/
	
	.mui-bar {
		box-shadow: none;
	}
	/*设置红包父容器高度*/
	
	.mui-card {
		height: 25vw;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		border-top: 1px dashed whitesmoke;
	}
	/*红包内父容器*/
	
	.mui-card-content {
		padding: 0 10px;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: justify;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	/*红包图片容器*/
	
	.imgbox {
		height: 20vw;
		width: 20vw;
		margin-right: 10px;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	/*红包图标*/
	
	.imgbox span {
		font-size: 4em !important;
		color: #666;
	}
	/*红包说明容器*/
	
	.textbox {
		height: 20vw;
		background: white;
		-webkit-box-flex: 15;
		-webkit-box-align: center;
	}
	/*红包说明*/
	
	.textbox figure {
		color: #e4dfd5;
	}
	/*红包标题容器*/
	
	.textbox div {
		height: 30px;
		border-bottom: 1px solid #e4dfd5;
	}
	/**/
	/*
	 *已使用
	 * */
	/*已使用按钮*/
	
	.Used {
		position: absolute;
		left: 30px;
		top: 40px;
		font-size: 40px !important;
		color: #666;
	}